.glass-card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 100%;
  }
 
  .kpi-tile {
    backdrop-filter: blur(20px);
  }

  body {
    font-family: 'Montserrat', sans-serif;
  }
  
  .dashboard-container {
    font-family: 'Montserrat', sans-serif;
  }
 
  @media (max-width: 600px) {
    .chart-container {
      height: 200px;
    }
   
    .wide-chart {
      height: 300px;
    }
   
    .small-chart {
      height: 150px;
    }
  }


  .kpi-chart {
    height: 252px;
  }
 
  .small-chart {
    height: 202px;
  }
  
  .dark-chart-card-content {
    background-color: #001529;
    color: white;
    border: 1px solid #ececec;

  }
  
  .dark-card {
    background-color: #001529;
    color: white;
  }
  
  .dark-chart-container {
    background-color: #001529;
  }
  
 
 