body, html {
  height: 100%;
  margin-top:0%;
 
 
}
 
.login-container {
  display: flex;
    justify-content: center;
    align-items: end;
    height: 90vh;
    flex-direction: column;
    padding-right: 5%;
    background-image:url('../assets/register.png');
    background-repeat:no-repeat;
    background-size: 145vh;
}
 
.login-box {
  background: rgba(255, 255, 255, 0.4);
  padding: 1rem;
  padding-top: -1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  width: 100%;
  max-width: 380px;
}
 
.login-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(13, 13, 13, 0.3);
}
 
.login-box h3 {
  text-align: center;
  margin-bottom: 1rem;
  color: black;
}
 
.login-button {
  width: 100%;
}
 
.login-box p {
  text-align: center;
  margin-top: 1rem;
}
 
.login-box a {
  color: #1890ff;
}