*{
  font-family: 'Montserrat', sans-serif;
}


.logo-container {
  height: 64px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.logo {
  width: 30px;
  height: 28px;
}

.app-name {
  font-weight: 600;
  color: black;
}

@media (max-width: 420px) {
  .manage-title {
    font-size: 16px !important;
    padding: 0px !important;
    margin-left: -10px !important;
  }
}
@media (max-width: 800px) {
  .hamburger_menu{
   display: none !important;
  }
}

